@import url(../../../../../css/GLOBAL_STYLES.css);

.container {
	display: flex;
	position: relative;
	margin: auto;
	margin-top: 10vh;
	flex-direction: row;
	flex-shrink: 0;
	flex-grow: 1;
	min-width: 290px;
	max-width: 1366px;
	min-height: 750px;
	max-height: 750px;
	padding: 50px 50px;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
	transition: all 1s ease-in-out;
}

.profile_nav_block {
	display: flex;
	flex-grow: 0;
	flex-direction: column;
	margin-right: 30px;
	width: 400px;
	border-top: 1px solid var(--first-details-color);
	border-bottom: 1px solid var(--first-details-color);
}

.profile_nav {
	flex-basis: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.profile_nav_title_block {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	height: 100px;
	background-color: rgba(0, 0, 0, .5);
	border-left: 1px solid var(--first-details-color);
	border-right: 1px solid var(--first-details-color);
	border-bottom: 1px solid var(--first-details-color);
}

.profile_nav_title {
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	color: var(--first-details-color);
}


.profile_nav_pages_block {
	display: flex;
	flex-grow: 1;
	border-top: 1px solid var(--first-details-color);
	border-bottom: 1px solid var(--first-details-color);

	
}
