.calendar {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 10px;
    min-width: 500px;
    min-height: 40px;

    border: 2px solid var(--first-details-color);
    border-radius: 5px;
    background-color: transparent;
}

.calendar_box {
    position: relative;
    margin: auto;
}

.calendar_box_disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: brightness(50%);
}

.calendar_field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 10px;
    min-width: 500px;
    min-height: 40px;
    cursor: pointer;

    border: 2px solid var(--first-details-color);
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.calendar_field:hover {
    transition: all 0.1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5)
}

.calendar_field_active {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.calendar_panel {
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 10;
    width: 500px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.calendar_panel_active {
    height: 400px;
    opacity: 1;
}