.container {
	--height: 100%;
	--width: 700px;

	display: flex;
	position: absolute;
	top: 0;
	left: calc(50% - (var(--width) / 2));
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;

	height: var(--height);
	width: var(--width);
	padding: 70px 50px;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
	opacity: 0;
	transform: translateX(300px);
	transition: all 1s ease-in-out;

	pointer-events: none;
	z-index: -100;
}

.container_active {
	transform: translateX(0);
	opacity: 1;

	pointer-events: all;
	z-index: 3;
}

.booking_form {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.container_bot {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.booking_message_div {
	position: absolute;
	display: flex;
	top: 50px;
	width: 100%;
}

.booking_message {
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	color: var(--error-text-message);
	background-color: rgba(0, 0, 0, .5);
}

.back_button {
	display: flex;
	position: absolute;
	left: 30px;
	top: 30px;
	height: 30px;
	width: 90px;
	fill: white;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.back_button:focus {
	outline: 1px solid var(--first-details-color);
}

.back_button:hover {
	fill: var(--first-details-color);
	color: var(--first-details-color);
}

.back_button:active {
	filter: brightness(70%);
	transform: scale(98%);
}

.back_button_text {
	height: 100%;
	/* padding-left: 10px; */
	text-align: center;
	line-height: 30px;
	color: inherit;
}





.booking_finished_info {
	position: relative;
	display: block;
	color: rgb(255, 255, 255);
	filter: drop-shadow(3px 3px 0px #000);
	font-weight: 400;
	font-size: 35px;
	line-height: 40px;
}

.booking_finished {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	animation: windowAnim 1s ease-in-out;

}

@keyframes windowAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}