@import url(../../../../../css/GLOBAL_STYLES.css);

.main {
    padding-top: 100px;
}

.container {

    display: block;
    margin: 0 auto;
    max-width: 1366px;
    min-width: 290px;
    font-weight: 400;
    line-height: 30px;


}