@import url(./../../../../css/GLOBAL_STYLES.css);

.back_btn {
	position: absolute;
}

.back_btn_link {
	position: fixed;
	top: 75px;
	left: 0;
	font-family: 'Roboto', 'font', sans-serif;
	padding: 50px 50px 50px 20px;
	background-color: transparent;
	background-color: rgb(0, 0, 0, 0.1);
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	outline: transparent 1px solid;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.back_btn_link:focus {
	outline: var(--first-details-color) 1px solid;
}

.back_btn_link:hover {
	background-color: rgb(0, 0, 0, 0.3);
	color: var(--first-details-color);
}

.back_btn_link:active {
	background-color: rgb(0, 0, 0, 0.5);
	outline: transparent 1px solid;
}