.profile_nav_pages {
	display: block;
	flex-basis: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	animation: pageActive 1s ease-in-out;
}

@keyframes pageActive {
	0% {
		opacity: 0;
		transform: scale(80%);
	}

	100% {
		opacity: 1;
		transform: scale(100%);
	}
}

.order_history_sort_menu {
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid var(--first-details-color);
	background-color: rgba(0, 0, 0, 0.3);
}

.order_history_sort_selector_box {
	display: flex;
	padding-left: 30px;
}

.order_history_items_box {
	padding: 0 50px;
}

