.section {
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.container {
    display: block;
	margin: 0 auto;
	max-width: 1366px;
	min-width: 290px;
}

.admin_main_div {
    position: relative;
    display: flex;
    padding: 50px 30px;

}

