* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Roboto', 'font', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: normal;
	color: #fff;

}

:root {
	--page-main-style-color: linear-gradient(90deg, #b90088, #0000da);

	--first-main-color: #d50455;
	--second-main-color: #3548be;

	--page-theme-color: #1e1e1e;

	/* --first-details-color: #71bbff; */
	--first-details-color: #2084e1;
	--second-details-color: #7754c9;

	/* --places-map-color: #009245; */
	--places-map-color: #2084e1;

	--delete-red-color: #ff2e2e;
	--error-text-message: #d43131;

	--translucent-border: 1px solid rgba(0, 0, 0, 0.3);



}

.App {
	all: inherit;
}

#root {
	all: inherit;
}