* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;

    font-family: 'Roboto', 'font', sans-serif;
    font-weight: 400;
    font-size: 14px;
	line-height: 24px;
    color: #fff;

}

:root {
	--page-main-style-color: linear-gradient(90deg, #b90088, #0000da);

	--first-main-color: #d50455;
	--second-main-color: #3548be;
	--first-secondary-color: #71bbff;
	--main-color-2: #243b55;
	--main-color: rgba(0, 0, 0, 0.1);
	--cyan-color-2: #03e9f4;
	--cyan-color: #71bbff;

	--booking-theme-color: #7754c9;

	
	--delete-red-color: #ff2e2e;
	--error-text-message: #d43131;

	--translucent-border: 1px solid rgba(0, 0, 0, 0.3);

}

.App {
	all: inherit;
}

#root {
	all: inherit;
}

