html {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.App {
	min-width: 100vw;
	min-height: 100vh;

	background-image: url("/src/img/asus-rog-wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


mark {
	background-color: rgba(0, 0, 0, .3);
	padding: 2.5px 0 4px 2px;
	color: var(--first-details-color);
	font-size: 16px;
}

.flex {
	display: flex;
}


/* users */

.users_conteiner {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 50px;
	max-width: 1000px;
	min-width: 290px;
	min-height: 100%;
	font-weight: 600;
	line-height: 30px;
	background: rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
	color: #fff;
	font-family: 'Roboto', 'font', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.user_item {
	justify-content: space-between;
	margin: 0 30px 30px 30px;
	padding: 20px 40px;
	background-color: var(--main-color);
	border: #000000 0px solid;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
}

.user_item:last-child {
	margin-bottom: 50px;
}

.user_item_test {
	flex-direction: row;
	justify-content: space-between;
	margin: 0 30px 30px 30px;
	padding: 20px 40px;
	background-color: var(--main-color);
	border: #000000 0px solid;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
}

.user_item_info {
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	max-width: 100%;
	margin-right: 40px;
	height: auto;
}

.user_item_info>div {
	padding: 0 10px;
	border-top: var(--translucent-border);
}

.user_item_info>div:last-child {
	border-bottom: var(--translucent-border);
}


.user_item_paragraph {
	margin-right: 40px;
}

.user_item_buttons {
	flex-direction: column;
	justify-content: flex-start;
	border-left: var(--translucent-border);
	padding-left: 10px;
}

.user_item_btn {
	margin-bottom: 10px;
	padding: 10px 30px;
	width: 200px;
	height: 50px;
	font-size: 12px;
	background-color: transparent;
	border: 2px solid var(--first-details-color);
	border-radius: 10px;
	color: var(--first-details-color);
	transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.user_item_btn:focus {
	outline: 1px solid var(--first-details-color);
	outline-offset: 2px;
}

.user_item_btn:hover {
	background-color: var(--first-details-color);
	color: #fff;
	box-shadow: 0 0 5px var(--first-details-color),
		0 0 50px var(--first-details-color);

}

.user_item_btn:active {
	filter: brightness(70%);
	transform: scale(90%);
	outline: 0px solid var(--first-details-color);
	outline-offset: 0px;
}

.user_item_delete_btn {
	margin-bottom: 0;
}

.user_item_delete_btn:hover {
	background-color: var(--delete-red-color);
	color: #fff;
	border: 2px solid var(--delete-red-color);
	box-shadow: 0 0 5px var(--delete-red-color),
		0 0 50px var(--delete-red-color);

}

.user_item_delete_btn:active {
	filter: brightness(70%);
	transform: scale(90%);
	outline: 0px solid var(--first-details-color);
	outline-offset: 0px;
}

.editor_window_title {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

.editor_window_label {
	font-size: 16px;
	color: var(--first-details-color);
}

.editor_window_place_div {
	margin-bottom: 40px;
}

.editor_window_submit {
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 10px 30px;
	width: 200px;
	height: 50px;
	font-size: 12px;
	background-color: transparent;
	border: 2px solid var(--first-details-color);
	border-radius: 10px;
	color: var(--first-details-color);
	transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.editor_window_submit:focus {
	outline: 1px solid var(--first-details-color);
	outline-offset: 2px;
}

.editor_window_submit:hover {
	background-color: var(--first-details-color);
	color: #fff;
	box-shadow: 0 0 5px var(--first-details-color),
		0 0 50px var(--first-details-color);

}

.editor_window_submit:active {
	filter: brightness(70%);
	transform: scale(90%);
	outline: 0px solid var(--first-details-color);
	outline-offset: 0px;
}

.editor_window_close {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 10px;
	right: 10px;
	fill: rgba(0, 0, 0, .5);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.editor_window_close:focus {
	outline: 1px solid var(--first-details-color);
}

.editor_window_close:hover {
	fill: var(--first-details-color);
}

.editor_window_close:active {
	outline: none;
	transform: scale(90%);
	filter: brightness(70%);
}

.page_blocker {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	opacity: 0.6;
	background-color: #000;
}

.scroll_blocker {
	overflow: hidden;
}