.header_logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 200px;
}

.logo {
	flex-grow: 1;
	height: 100%;
	width: 100%;
    padding-left: 30px;
	fill: var(--first-details-color);
	white-space: pre;
	filter: drop-shadow(2px 2px 0px #000000);
	animation: headerEffect 20s infinite linear;
	cursor: pointer;
}

@keyframes headerEffect {
	0% {
		fill: var(--first-details-color);
	}

	33% {
		fill: #ce0071;
	}

	66% {
		fill: #ce0071;
	}

	100% {
		fill: var(--first-details-color);
	}
}

@keyframes xoxlo {
	0% {
		fill: #006eff;
	}

	33% {
		fill: #fbff00;
	}

	66% {
		fill: #fbff00;
	}

	100% {
		fill: #006eff;
	}
}

.logo:hover {
	animation: xoxlo 0.5s infinite ease-in-out;
}